.ContactForm {
    padding-top: 40px;
    padding-bottom: 40px;

    @include media-breakpoint-up(lg) {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .content-wrapper {
        width: 100%;
        border-radius: 4px;

        form {
            label {
                color: white;
            }

            .top-line {
                display: flex;
                flex-direction: column;
                justify-content: space-between;         
                
                @include media-breakpoint-up(lg) {
                    flex-direction: row;
                }

                input {
                    width: 100%;
                    padding: 12px 20px;
                    border: 1px solid $secondary-main;
                    border-radius: 8px;
                    background-color: $primary-light;
                    color: $white;
                    margin-top: 10px;

                    @include media-breakpoint-up(lg) {                        
                        width: calc(calc(100% / 3) - 16px);
                        margin-top: 0;
                    }
                }
            }

            .bottom-line {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding-top: 30px;

                textarea {
                    width: 100%;
                    min-height: 100px;
                    height: auto;
                    border: 1px solid $secondary-main;
                    border-radius: 8px;
                    padding: 12px 20px;
                    background-color: $primary-light;
                    color: $white;
                    resize: none;
                }

                input {
                    &.btn {
                        margin-top: 30px;
                        padding: 12px 20px;
                        border-radius: 28px;
                        border: none;   
            
                        &.btn-primary {
                            background-color: $secondary-main;
                            color: $primary-main;
                        }
                    }
                }
            }
        }
    }
}