body {
  background-color: #031B28;
}
body h1, body h2, body h3 {
  color: #DBA858;
  font-family: Georgia;
}
body h3 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 16px;
}
body p {
  color: #ACA08D;
  font-family: Georgia;
  font-size: 14px;
}
body a {
  font-family: Georgia;
  color: #DBA858;
  text-decoration: none;
}
body a.btn {
  padding: 12px 20px;
  border-radius: 28px;
  border: none;
}
body a.btn.btn-primary {
  background-color: #DBA858;
  color: #031B28;
}
body a.btn.btn-secondary {
  background-color: transparent;
  color: #DBA858;
  border: 1px solid #DBA858;
}
body ul li {
  color: #DBA858;
  font-size: 14px;
  font-family: Georgia;
}
body .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

footer {
  border-top: 1px solid #DBA858;
  padding: 70px 0 20px 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 0 30px;
  border-bottom: 1px solid #DBA858;
  background-color: #031B28;
  width: 100%;
  height: 60px;
  z-index: 2000;
}
.navigation .right-side a {
  margin-left: 20px;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}
.navigation .right-side a:hover {
  text-decoration: none;
}

.cookies {
  display: none;
  position: fixed;
  bottom: 0;
  background-color: #16303F;
  min-width: 350px;
  max-width: 450px;
  padding: 30px 30px;
  border-radius: 4px;
  border: 1px solid #DBA858;
  height: auto;
}
@media (min-width: 992px) {
  .cookies {
    bottom: 20px;
    right: 20px;
  }
}
.cookies .image-and-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.cookies .image-and-title .image-wrapper {
  max-width: 65px;
  padding: 8px;
  border-radius: 50px;
  background-color: #DBA858;
  margin-right: 20px;
}
.cookies .image-and-title .image-wrapper img {
  width: 100%;
  height: 100%;
  filter: invert(12%) sepia(6%) saturate(6905%) hue-rotate(161deg) brightness(96%) contrast(86%);
}
.cookies .image-and-title h2 {
  margin-bottom: 0;
}
.cookies .choice a:first-child {
  margin-right: 12px;
}

.HeroBanner {
  min-height: 600px;
  padding-top: 80px;
}
@media (min-width: 992px) {
  .HeroBanner {
    padding-top: 100px;
    display: flex;
    align-items: center;
  }
}
.HeroBanner .container {
  height: 100%;
}
.HeroBanner .container .row {
  height: 100%;
  align-items: center;
}
.HeroBanner .container .row .col-12 {
  height: 100%;
}
.HeroBanner .container .row .col-12 .graph-example {
  min-height: 460px;
  position: relative;
}
.HeroBanner .container .row .col-12 .graph-example h2 {
  margin-left: 30px;
  margin-bottom: 20px;
}
.HeroBanner .container .row .col-12 .graph-example .inner-wrapper {
  width: calc(100% - 30px);
  height: calc(100% - 80px);
  position: absolute;
  top: 60px;
  right: 0;
  border-left: 1px solid #DBA858;
  border-bottom: 1px solid #DBA858;
}
.HeroBanner .container .row .col-12 .graph-example .inner-wrapper .inner-content {
  position: relative;
  width: 100%;
  height: 100%;
}
.HeroBanner .container .row .col-12 .graph-example .inner-wrapper .inner-content .horizontal-lines {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 100%;
}
.HeroBanner .container .row .col-12 .graph-example .inner-wrapper .inner-content .horizontal-lines .line {
  width: 100%;
  height: 1px;
  background-color: #DBA858;
}
.HeroBanner .container .row .col-12 .graph-example .inner-wrapper .inner-content .horizontal-lines .line:first-child, .HeroBanner .container .row .col-12 .graph-example .inner-wrapper .inner-content .horizontal-lines .line:last-child {
  background-color: transparent;
}
.HeroBanner .container .row .col-12 .graph-example .inner-wrapper .inner-content .horizontal-towers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: -40px;
}
.HeroBanner .container .row .col-12 .graph-example .inner-wrapper .inner-content .horizontal-towers span {
  font-size: 12px;
  color: #ACA08D;
  max-width: 100px;
  text-align: center;
}
.HeroBanner .container .row .col-12 .graph-example .inner-wrapper .inner-content .vertical-lines {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  align-items: flex-end;
  left: -40px;
  width: 30px;
  height: 100%;
}
.HeroBanner .container .row .col-12 .graph-example .inner-wrapper .inner-content .vertical-lines span {
  font-size: 12px;
  width: fit-content;
  color: #ACA08D;
}
.HeroBanner .container .row .col-12 .graph-example .inner-wrapper .inner-content .vertical-towers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  height: 100%;
}
.HeroBanner .container .row .col-12 .graph-example .inner-wrapper .inner-content .vertical-towers .tower {
  height: 15%;
  width: 50px;
}
.HeroBanner .container .row .col-12 .graph-example .inner-wrapper .inner-content .vertical-towers .tower:first-child {
  background-color: #c8ffa3;
  height: calc(100% - 30px);
}
.HeroBanner .container .row .col-12 .graph-example .inner-wrapper .inner-content .vertical-towers .tower:nth-child(2) {
  background-color: #acecff;
}
.HeroBanner .container .row .col-12 .graph-example .inner-wrapper .inner-content .vertical-towers .tower:nth-child(3) {
  background-color: #ffacdb;
}
.HeroBanner .container .row .col-12 .graph-example .inner-wrapper .inner-content .vertical-towers .tower:nth-child(4) {
  background-color: #c7a5fc;
}

.CallToAction {
  padding-top: 40px;
}
.CallToAction .content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.CallToAction .content-wrapper .line {
  height: 1px;
  width: 100%;
  background-color: #DBA858;
}
.CallToAction .content-wrapper h2 {
  margin: 20px 0 12px 0;
}
.CallToAction .content-wrapper a {
  margin-bottom: 20px;
}

.Reviews {
  padding-top: 80px;
}
.Reviews .swiper {
  height: 100%;
}
.Reviews .swiper .swiper-wrapper {
  height: 100%;
}
.Reviews .swiper .swiper-wrapper .swiper-slide {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  padding: 20px;
  background-color: #16303F;
  border-radius: 8px;
}
.Reviews .swiper .swiper-wrapper .swiper-slide .review {
  margin-bottom: 30px;
}
.Reviews .swiper .swiper-wrapper .swiper-slide .review h2 {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 16px;
}
.Reviews .swiper .swiper-wrapper .swiper-slide .review h3 {
  color: #ACA08D;
  font-size: 20px;
  line-height: normal;
  margin-bottom: 20px;
}
.Reviews .swiper .swiper-wrapper .swiper-slide .review .stars-wrapper {
  display: flex;
  align-items: center;
}
.Reviews .swiper .swiper-wrapper .swiper-slide .review .stars-wrapper .stars .fa-star {
  padding-right: 2px;
}
.Reviews .swiper .swiper-wrapper .swiper-slide .review .stars-wrapper .stars .fa-star.checked:first-child {
  color: #DBA858;
}
.Reviews .swiper .swiper-wrapper .swiper-slide .review .stars-wrapper .stars .fa-star.checked:nth-child(2) {
  color: #c8ffa3;
}
.Reviews .swiper .swiper-wrapper .swiper-slide .review .stars-wrapper .stars .fa-star.checked:nth-child(3) {
  color: #acecff;
}
.Reviews .swiper .swiper-wrapper .swiper-slide .review .stars-wrapper .stars .fa-star.checked:nth-child(4) {
  color: #ffacdb;
}
.Reviews .swiper .swiper-wrapper .swiper-slide .review .stars-wrapper .stars .fa-star.checked:nth-child(5) {
  color: #c7a5fc;
}
.Reviews .swiper .swiper-wrapper .swiper-slide .review .stars-wrapper h4 {
  font-size: 16px;
  color: #DBA858;
  margin-bottom: 0;
  margin-left: 10px;
}
.Reviews .swiper .swiper-wrapper .swiper-slide .reviewer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Reviews .swiper .swiper-wrapper .swiper-slide .reviewer .left-side h5 {
  color: #DBA858;
}
.Reviews .swiper .swiper-wrapper .swiper-slide .reviewer .left-side p {
  text-transform: uppercase;
  font-size: 12px;
}
.Reviews .swiper .swiper-wrapper .swiper-slide .reviewer .right-side img {
  filter: invert(67%) sepia(73%) saturate(332%) hue-rotate(355deg) brightness(92%) contrast(85%);
}

.Services {
  padding-top: 80px;
}
.Services .content-wrapper {
  height: 100%;
  background-color: #16303F;
  border-radius: 4px;
  padding: 30px 24px;
}

.Statistics {
  padding-top: 80px;
}
.Statistics .col-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Statistics .col-12 .line {
  width: 100%;
  height: 1px;
  background-color: #DBA858;
}
.Statistics .col-12:first-child .line {
  margin-bottom: 20px;
}
.Statistics .col-12:last-child .line {
  margin-top: 20px;
}
.Statistics h2.outlined {
  white-space: nowrap;
  font-size: 60px;
  line-height: 72px;
}

.ContactForm {
  padding-top: 80px;
  padding-bottom: 120px;
}
.ContactForm .content-wrapper {
  width: 100%;
  border-radius: 4px;
}
.ContactForm .content-wrapper form label {
  color: white;
}
.ContactForm .content-wrapper form .top-line {
  display: flex;
  justify-content: space-between;
}
.ContactForm .content-wrapper form .top-line input {
  width: calc(33.3333333333% - 16px);
  padding: 12px 20px;
  border: 1px solid #DBA858;
  border-radius: 8px;
  background-color: #16303F;
  color: #FFFFFF;
}
.ContactForm .content-wrapper form .bottom-line {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 30px;
}
.ContactForm .content-wrapper form .bottom-line textarea {
  width: 100%;
  min-height: 100px;
  height: auto;
  border: 1px solid #DBA858;
  border-radius: 8px;
  background-color: #16303F;
  color: #FFFFFF;
  resize: none;
}
.ContactForm .content-wrapper form .bottom-line input.btn {
  margin-top: 30px;
  padding: 12px 20px;
  border-radius: 28px;
  border: none;
}
.ContactForm .content-wrapper form .bottom-line input.btn.btn-primary {
  background-color: #DBA858;
  color: #031B28;
}

/*# sourceMappingURL=Master.css.map */
