@import "mixings.scss";

body {
    background-color: $primary-main;

    h1, h2, h3 {
        color: $secondary-main;
        font-family: Georgia;
    }

    h3 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 16px;
    }

    p {
        color: $secondary-light;
        font-family: Georgia;
        font-size: 14px;
    }    

    a {
        font-family: Georgia;
        color: $secondary-main;
        text-decoration: none;
        
        &.btn {
            padding: 12px 20px;
            border-radius: 28px;
            border: none;   

            &.btn-primary {
                background-color: $secondary-main;
                color: $primary-main;
            }

            &.btn-secondary {
                background-color: transparent;
                color: $secondary-main;
                border: 1px solid $secondary-main;
            }
        }
    }
    
    ul {
        li {
            color: $secondary-main;
            font-size: 14px;
            font-family: Georgia;
        }
    }
}



//Fixed styles
@import "Page/Master/Footer.scss";
@import "Page/Master/Navigation.scss";
@import "Page/Master/Cookies.scss";

//Sections styles
@import "Page/Partials/SectionBlocks/HeroBanner.scss";
@import "Page/Partials/SectionBlocks/CallToAction.scss";
@import "Page/Partials/SectionBlocks/Services.scss";