.CallToAction {
    padding-top: 40px;

    .content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .line {
            height: 1px;
            width: 100%;
            background-color: $secondary-main;
        }

        h2 {
            margin: 20px 0 12px 0;
        }

        a {
            margin-bottom: 20px;
        }
    }
}