.HeroBanner {
    min-height: 600px;
    padding-top: 80px;

    @include media-breakpoint-up(lg) {
        padding-top: 100px;
        display: flex;
        align-items: center;
    }

    .container {
        height: 100%;

        .row {
            height: 100%;
            align-items: center;

            .col-12 {
                height: 100%;

                &:first-child {
                    padding-top: 20px;
                    padding-bottom: 60px;

                    @include media-breakpoint-up(lg) {
                        padding-top: 0;
                        padding-bottom: 0;
                    }
                }

                .graph-example {
                    position: relative;
                    min-height: 300px;

                    @include media-breakpoint-up(lg) {
                        min-height: 460px;
                    }

                    h2 {
                        margin-bottom: 20px;

                        @include media-breakpoint-up(lg) {
                            margin-left: 30px;
                        }
                    }

                    .inner-wrapper {
                        width: calc(100% - 30px);
                        height: calc(100% - 80px);
                        position: absolute;
                        top: 60px;
                        right: 0;
                        border-left: 1px solid $secondary-main-faded;
                        border-bottom: 1px solid $secondary-main-faded;

                        .inner-content {
                            position: relative;
                            width: 100%;
                            height: 100%;

                            .horizontal-lines {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                position: absolute;
                                width: 100%;
                                height: 100%;

                                .line {
                                    width: 100%;
                                    height: 1px;
                                    background-color: $secondary-main-faded;

                                    &:first-child,
                                    &:last-child {
                                        background-color: transparent;
                                    }
                                }
                            }

                            .horizontal-towers {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-around;
                                position: absolute;
                                width: 100%;
                                height: 30px;
                                bottom: -40px;

                                span {
                                    width: 25%;
                                    font-size: 12px;
                                    color: $secondary-light;
                                    max-width: 100px;
                                    text-align: center;
                                }
                            }

                            .vertical-lines {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                position: absolute;
                                align-items: flex-end;
                                left: -40px;
                                width: 30px;
                                height: 100%;

                                span {
                                    font-size: 12px;
                                    width: fit-content;
                                    color: $secondary-light;
                                }
                            }

                            .vertical-towers {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-around;
                                align-items: flex-end;
                                position: absolute;
                                width: 100%;
                                height: 100%;

                                .tower {
                                    width: 30px;
                                    height: 0; /* Start from 0 height */
                                    animation: grow 2s ease-out forwards; /* Animation for growing effect */

                                    @include media-breakpoint-up(lg) {
                                        width: 50px;
                                    }

                                    &:first-child {
                                        background-color: #24B7C2;
                                        --target-height: calc(70%); /* Full height */
                                    }

                                    &:nth-child(2) {
                                        background-color: #24B7C2;
                                        --target-height: calc(80%);
                                    }

                                    &:nth-child(3) {
                                        background-color: #24B7C2;
                                        --target-height: calc(90%);
                                    }

                                    &:nth-child(4) {
                                        background-color: #24B7C2;
                                        --target-height: calc(100%);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Keyframes for tower growth */
@keyframes grow {
    from {
        height: 0;
    }
    to {
        height: var(--target-height);
    }
}