.Reviews {
    padding-top: 80px;
    
    .swiper {
        
        .swiper-wrapper {
            display: flex;
            height: 100%;

            .swiper-slide {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex-grow: 1; // Ensure each slide grows to the full height of the container
                min-height: 100%;
                width: auto;
                padding: 20px;
                background-color: $primary-light;
                border-radius: 8px;

                .review {
                    margin-bottom: 30px;

                    h2 {
                        text-transform: uppercase;
                        font-size: 12px;
                        line-height: 14px;
                        margin-bottom: 16px;
                    }
    
                    h3 {
                        color: $secondary-light;
                        font-size: 20px;
                        line-height: normal;
                        margin-bottom: 20px;
                    }
                    
                    .stars-wrapper {
                        display: flex;
                        align-items: center;

                        .stars {        
                            .fa-star {
                                padding-right: 2px;
        
                                &.checked {
                                    color: $secondary-main;
                                }
                            }
                        }
        
                        h4 {
                            font-size: 16px;
                            color: $secondary-main;
                            margin-bottom: 0;
                            margin-left: 10px;
                        }
                    }
                }          
                
                .reviewer {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .left-side {
                        h5 {
                            color: $secondary-main;
                        }

                        p {
                            text-transform: uppercase;
                            font-size: 12px;
                        }
                    }

                    .right-side {
                        img {
                            filter: invert(67%) sepia(73%) saturate(332%) hue-rotate(355deg) brightness(92%) contrast(85%);
                        }
                    }
                }
            }
        }

        .pagination-wrapper {
            display: flex;
            justify-content: center;
            margin-top: 36px;

            .reviews-pagination {
                width: calc(100vw / 375 * 300);
                margin-bottom: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;

                @include media-breakpoint-up(lg) {                    
                    width: calc(100vw / 375 * 150);
                }

                .pag-bullets {
                    width: 100%;
                    display: flex;
                }

                span {
                    color: $secondary-main;
                    width: 100%;

                    &.numbers {
                        width: fit-content;

                        &:first-child {
                            margin-right: 19px;
                        }

                        &:last-child {
                            margin-left: 19px;
                        }
                    }

                    &.custom-pag {
                        margin-bottom: 2px;
                        background-color: $primary-light;
                        height: 2px;
                        width: 100% !important;

                        &.active {
                            background-color: $secondary-main;
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    }
}